/* These styles are used to style the Theme Toggler test & svg icons.
 * Depending on the region you place the theme toggler block
 * and the classes being used by existing elements on your site,
 * these may not be necessary to maintain proper sizing and style.
 */

/* The `drupal-bootstrap-theme-toggler` class is custom for this block.
 * It's added here to avoid any conflicts with elements that use
 * standard bootstrap button classes.
 */

/* controls the size of toggler button icons */
.drupal-bootstrap-theme-toggler{
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}
/* This will do the same thing as above, using just native bootstrap classes.
 * However, it may lead to unwanted changes if other elements use it.
 */
/* .bi {
  width: 1em;
  height: 1em;
  fill: currentColor
} */

/* 
 * This style affects the appearnce of the check mark on active theme mode.
 */
.dropdown-menu .active .bi {
  display: block !important;
}

