@charset "UTF-8";
/* Use this file to override Bootstrap Barrio component styling.
 * To override 'Default' Barrio Component settings, find the desired component
 * CSS, located in 'web\themes\contrib\bootstrap_barrio\css\components'.
 * Then copy the selector and color attributes to override, into the "light"
 * and "dark" theme definitions below. These can be defined with static colors,
 * or color CSS variable defined by bootstrap in,
 * 'web\libraries\bootstrap\dist\css\bootstrap.css'
 */

/*
 * NOTE: styles set in the Barrio Theme settings page will override these here.
 * However, Barrio Theme settings, set to 'Default' can be overriden here.
 */

[data-bs-theme="light"] {
  color-scheme: light;


}


[data-bs-theme="dark"] {
  color-scheme: dark;

  .node--view-mode-teaser h2 a {
    color: #999999;
  }

}

