
// Example of a color mode theme created by overriding all css variables
// defined by bootstrap 'dark' theme mode found inside a default
// processed output 'bootstrap.css' by a SASS sub-theme.
// see 'web\themes\custom\sass_custom_theme\css\bootstrap.css'

// Additional Barrio color variables are not included in the
// general palette and must be determined and added as needed.

[data-bs-theme="blue"] {
  color-scheme: dark;

  // ****** variables copied from 'dark' mode theme overrides ******
  --bs-body-color: #282e38;
  --bs-body-color-rgb: 57, 136, 255;
  --bs-body-bg: #88c3ca;
  --bs-body-bg-rgb: 99, 118, 221;  
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(222, 226, 230, 0.75);
  --bs-secondary-color-rgb: 222, 226, 230;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(222, 226, 230, 0.5);
  --bs-tertiary-color-rgb: 222, 226, 230;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #6ea8fe;
  --bs-secondary-text-emphasis: #a7acb1;
  --bs-success-text-emphasis: #75b798;
  --bs-info-text-emphasis: #6edff6;
  --bs-warning-text-emphasis: #ffda6a;
  --bs-danger-text-emphasis: #ea868f;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #031633;
  --bs-secondary-bg-subtle: #161719;
  --bs-success-bg-subtle: #051b11;
  --bs-info-bg-subtle: #032830;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #084298;
  --bs-secondary-border-subtle: #41464b;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #087990;
  --bs-warning-border-subtle: #997404;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: inherit;
  --bs-link-color: #1841c7;
  --bs-link-hover-color: #fef28b;
  --bs-link-color-rgb: 24, 65, 199;
  --bs-link-hover-color-rgb: 254, 242, 139;
  --bs-code-color: #e685b5;
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #75b798;
  --bs-form-valid-border-color: #75b798;
  --bs-form-invalid-color: #ea868f;
  --bs-form-invalid-border-color: #ea868f;

// ******* END of vars based on default 'dark' theme palette **********

// Additional variables used by bootstrap 'light', not overriden
// by the default 'dark' theme.

  --bs-primary: #24b8dd;
  --bs-primary-rgb: 36, 184, 221;
  --bs-secondary: #3d6cd1;
  --bs-secondary-rgb: 61, 108, 209;


  // This will theme the navbar link colors for a navbar whose background
  // color is set to 'Primary' & link color is set to 'Default'
  // from the theme settings form 'Components->Navbar Structure' tab.
  .bg-primary .nav-link{
    --bs-nav-link-color: #ebb111;
    --bs-nav-link-hover-color: #1d4661;
    // --bs-navbar-hover-color: #ffe3e3;
  }

  // This will theme the navbar link colors for a navbar whose background
  // color is set to 'Secondary' & link color is set to 'Default'
  // from the theme settings form 'Components->Navbar Structure' tab.
  .bg-secondary .nav-link {
    --bs-nav-link-color: #0e2861;
    --bs-nav-link-hover-color: #f7cf78;
    // --bs-navbar-hover-color: #ffe3e3;
  }



  // .dropdown-menu {
  //   /* --bs-dropdown-bg: #{mix($blue-500, $blue-600)}; */
  //   --bs-dropdown-bg: #{#a50c59};
  //   --bs-dropdown-link-active-bg: #{$blue-700};
  // }

  // .btn-secondary {
  //   /* --bs-btn-bg: #{mix($gray-600, $blue-400, .5)}; */
  //   --bs-btn-bg: #{#0f0ca5};
  //   --bs-btn-border-color: #{rgba($white, .25)};
  //   --bs-btn-hover-bg: #{darken(mix($gray-600, $blue-400, .5), 5%)};
  //   --bs-btn-hover-border-color: #{rgba($white, .25)};
  //   --bs-btn-active-bg: #{darken(mix($gray-600, $blue-400, .5), 10%)};
  //   --bs-btn-active-border-color: #{rgba($white, .5)};
  //   --bs-btn-focus-border-color: #{rgba($white, .5)};
  //   --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
  // }


}