// Example custom color mode theme
// Illustrates setting the major color parameters used in a
// Bootstrap Barrio theme.

[data-bs-theme="red"] {
  --bs-body-color: var(--bs-white);
  --bs-body-color-rgb: #{to-rgb($white)};
  --bs-body-bg: var(--bs-red);
  --bs-body-bg-rgb: #{to-rgb($red)};
  --bs-tertiary-bg: #{$red-600};

  --bs-primary: #aa1313;
  // Used by Barrio component to set background color for navbar component
  // set to 'Primary' inside the theme settings form.
  --bs-primary-rgb: 170, 19, 19;

  --bs-secondary: #410c0c;
  // Used by Barrio component to set background color for navbar component
  // set to 'Secondary' inside the theme settings form.
  --bs-secondary-rgb: 65, 12, 12;

  --bs-nav-link-color: #d18585;

  .title {
    color: #2e2e2e;
  }

  .navbar-brand {
    --bs-navbar-brand-color: var(--bs-white);
  }

  // This will theme the navbar link colors for a navbar whose background
  // color is set to 'Primary' & link color is set to 'Default'
  // from the theme settings form 'Components->Navbar Structure' tab.
  .bg-primary .nav-link{
    --bs-nav-link-color: #00e231;
    --bs-nav-link-hover-color: #132517;
    // --bs-navbar-hover-color: #ffe3e3;
  }

  // This will theme the navbar link colors for a navbar whose background
  // color is set to 'Secondary' & link color is set to 'Default'
  // from the theme settings form 'Components->Navbar Structure' tab.
  .bg-secondary .nav-link {
    --bs-nav-link-color: #0d8fda;
    --bs-nav-link-hover-color: #cce1ec;
    // --bs-navbar-hover-color: #ffe3e3;
  }

  .dropdown-menu {
    --bs-dropdown-bg: #{mix($red-500, $red-600)};
    --bs-dropdown-link-active-bg: #{$red-700};
  }

  .btn-secondary {
    --bs-btn-bg: #{mix($gray-600, $red-400, .5)};
    --bs-btn-border-color: #{rgba($white, .25)};
    --bs-btn-hover-bg: #{darken(mix($gray-600, $red-400, .5), 5%)};
    --bs-btn-hover-border-color: #{rgba($white, .25)};
    --bs-btn-active-bg: #{darken(mix($gray-600, $red-400, .5), 10%)};
    --bs-btn-active-border-color: #{rgba($white, .5)};
    --bs-btn-focus-border-color: #{rgba($white, .5)};
    --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
  }

} // END of theme attribute definition