@charset "UTF-8";
/* Use this file to override styling of the 'light' and 'dark' color modes.
 * 'web\libraries\bootstrap\dist\css\bootstrap.css'
 */


[data-bs-theme="light"] {
  color-scheme: light;
  
  --bs-primary: #8f8f8f;
  --bs-primary-rgb: 143, 143, 143;
  --bs-secondary: #3b3b3b;
  --bs-secondary-rgb: 59, 59, 59;

}


[data-bs-theme="dark"] {
  color-scheme: dark;

  --bs-primary: #3b1c1c;
  --bs-primary-rgb: 59, 28, 28;
  --bs-secondary: #72887a;
  --bs-secondary-rgb: 114, 136, 122;
  
  .node--view-mode-teaser h2 a {
    color:  #999999;
  }

}

